#header{
  padding-top: 10%;
  padding-bottom: 4%;
}

#logoGlobe {
  padding-right: 0px;
}

#results {
  padding-top: 3%;
}

.container {
  padding-right: 5%;
  padding-left: 5%;
}

.img-responsive{
  max-width: 90%;
}

.template {
  display: none;
}

.vCenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

a:hover {
  background-color: #d7ccc8 !important;
  border-left: solid;
}

body {
  background-color: #3e2723;
}
