#header{
  padding-top: 70px !important;
  padding-bottom: 20px;
}

#logoGlobe {
  padding-right: 0px;
}

#logoText{
  padding-left: 0px;
}

.img-responsive{
  max-width: 90%;
}

.template {
  display: none;
}

.vCenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

body {
  background-color: #3e2723;
}

h1 {
  padding-bottom: 50px;
  padding-top: 50px;
  color: #efebe9;
  font-family: Times, Georgia, Linux Libertine, Cambria, serif
}